<!DOCTYPE html>
<html>
<head>

    <title>About</title>
    <link rel="icon" href="/img/weather.png">
</head>
<body>

    <div class="main-content">
     {{>header}}
     <p>Hi my name is poonam and i am working on node.js and accessing weather update from mapbox.com</p>
          <img class="portrait"  src="/img/robo1.jpg"> 
  </div>
    
    {{>footer}}
</body>
</html>